@font-face {
    font-family: 'FuturaPT-Medium';
    src: url(./fonts/FuturaPT-Medium.ttf);
}

@font-face {
    font-family: 'FuturaPT-Heavy';
    src: url(./fonts/FuturaPT-Heavy.ttf);
}

@font-face {
    font-family: 'FuturaPT-Light';
    src: url(./fonts/FuturaPT-Light.ttf);
}

@font-face {
    font-family: 'FuturaPTCond-Book';
    src: url(./fonts/FuturaPTCond-Book.ttf);
}

@font-face {
    font-family: 'FuturaPTCond-BookObl';
    src: url(./fonts/FuturaPTCond-BookObl.ttf);
}