* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* ----------======= header =======---------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    border-bottom: 2px solid rgb(229, 186, 130, 0.6);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    height: 110px;
    padding: 0 40px;
}

.header__logo {
    cursor: pointer;
}

.header__logoProject-img {
    width: 235px;
    height: 60px;
}

.header__list-item a {
    font: 100 18px 'FuturaPT-Medium';
    background: linear-gradient(to right, rgb(0, 175, 0) 10%, rgb(0, 224, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__list-item a:hover,
.header__list-item a:focus {
    border-bottom: 2px solid;
    background: linear-gradient(to right, rgb(255, 94, 0) 40%, rgb(255, 209, 7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image-source: linear-gradient(to right, rgb(255, 94, 0) 40%, rgb(255, 209, 7));
    border-image-slice: 1;
    padding-bottom: 42px;
}

.header__socialNetworks-logo-link-img {
    width: 20px;
    height: 20px;
    border-radius: 6px;
}

.header__list,
.header>div:not(.header__logo):not(.header__hamburgerMenu) {
    display: none;
}

.header__hamburgerMenu {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.header__hamburgerMenu-img {
    width: 40px;
    height: 40px;
}

.header>div:nth-child(n+4) img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.header>div:nth-child(n+4) button {
    border: none;
    background: none;
    outline: none;
}

@media (max-width: 370px) {
    .header {
        padding: 0 10px;
    }

    .header__logoProject-img {
        width: 165px;
        height: 45px;
    }
}

@media (min-width: 800px) {
    .header__list {
        display: flex;
        justify-content: space-between;
        width: 430px;
    }
}

@media (min-width: 1100px) {
    .header>div:not(.header__logo):not(.header__hamburgerMenu) {
        display: flex;
        justify-content: space-between;
    }

    .header>div:nth-child(n+3) {
        width: 110px;
    }

    .header__list {
        width: 500px;
    }

    .header__hamburgerMenu {
        display: none;
    }
}

@media (min-width: 1950px) {
    .header {
        height: 130px;
    }

    .header__logoProject-img {
        width: 240px;
        height: 65px;
    }

    .header__list {
        width: 710px;
    }

    .header>div:nth-child(n+3) {
        width: 160px;
    }

    .header__list-item a {
        font-size: 25px;
    }

    .header__list-item a:hover,
    .header__list-item a:focus {
        padding-bottom: 48px;
    }

    .header__socialNetworks-logo-link-img {
        width: 25px;
        height: 25px;
    }

    .header>div:nth-child(n+4) img {
        width: 50px;
        height: 50px;
    }
}

/* ----------======= groceryCards =======---------- */

.groceryCards__aboutPage {
    display: none;
    margin-top: 50px;
}

.groceryCards__aboutPageActive {
    display: block;
}

.groceryCard__menuActive {
    display: none !important;
}

.groceryCards__menuBlock-title {
    font: 600 25px 'FuturaPTCond-Book';
    background: linear-gradient(to right, rgb(0, 175, 0) 10%, rgb(0, 224, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid rgb(229, 186, 130, 0.6);
    padding-left: 5px;
    text-align: center;
}

.groceryCards__menuBlock-listFunction-item {
    border-bottom: 2px solid rgb(229, 186, 130, 0.6);
    padding: 10px 0 10px 10px;
    transition-duration: .5s;
    cursor: pointer;
}

.groceryCards__menuBlock-listFunction-item:hover {
    background-color: rgb(228, 228, 205);
}

.groceryCards__menuBlock-listFunction-item-text {
    font: 100 16px 'FuturaPT-Medium';
    background: linear-gradient(to right, rgb(0, 175, 0) 20%, rgb(0, 224, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.groceryCards>div:not(.groceryCards__aboutPage) {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.groceryCards__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 200px));
    grid-gap: 30px;
    justify-content: center;
    min-width: 320px;
    max-width: 1700px;
}

.groceryCards__list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffff;
    transition-duration: 500ms;
    border-radius: 10px;
    height: 265px;
    border-bottom: 2px solid #000;
    padding-bottom: 17px;
}

.groceryCards__list-item:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 1px 1px 35px -22px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 35px -22px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 35px -22px rgba(0, 0, 0, 0.75);
}

.groceryCards__list-item-title {
    font: 100 13px 'FuturaPT-Heavy';
    text-align: center;
}

.groceryCards__list-item-price {
    font: 600 13px 'FuturaPT-Light';
}

.groceryCards__list-item-priceThrough {
    text-decoration: line-through;
    margin-right: 10px;
}

.groceryCards__list-item-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.groceryCards__list-item-price-span {
    margin-right: 10px;
}

.groceryCards__list-item-button-img {
    width: 30px;
    height: 30px;
}

.groceryCards__list-item>div+div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.groceryCards__menuBlock {
    display: none;
    position: sticky;
    background-color: beige;
    border-right: 2px solid rgb(229, 186, 130, 0.6);
    border-top: 2px solid rgb(229, 186, 130, 0.6);
    border-bottom: 2px solid rgb(229, 186, 130, 0.6);
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    width: 200px;
    height: 300px;
    top: 6em;
}

/* .groceryCards__menuBlock::after {
    content: '';
    position: absolute;
    background: url(./components/header/assets/logo/apple.svg) center no-repeat;
    background-size: 100%;
    width: 80px;
    height: 80px;
    left: 0;
    right: 0;
    bottom: 2.5em;
    margin: auto;
} */

.groceryCards__menuBlockActive {
    display: block;
}

.groceryCards__aboutPage-mainTitle {
    font: 600 35px 'FuturaPTCond-Book';
    text-transform: uppercase;
    text-align: center;
}

.groceryCards__aboutPage-text {
    margin: 40px 30px;
}

.groceryCards__aboutPage-text-p {
    font: 100 23px 'FuturaPTCond-Book';
    text-align: center;
}

.groceryCards__aboutPage-logoFruit-img {
    width: 200px;
    margin: 0 auto;
}

@media (min-width: 425px) {
    .groceryCards__list-item {
        border: unset;
        padding: 0;
    }
}

@media (min-width: 1400px) {
    .groceryCards__list {
        margin: 0 10px;
    }
}

@media (max-width: 1400px) {
    .header {
        position: relative;
    }

    .groceryCards>div:not(.groceryCards__aboutPage) {
        margin: 60px 0;
    }

    .groceryCards__menuBlock-filterActive {
        height: 185px;
    }

    .groceryCards__menuBlock {
        position: absolute;
        border-top: unset;
        border-top-right-radius: unset;
        border-left: 2px solid rgb(229, 186, 130, 0.6);
        border-bottom-left-radius: 1em;
        transition-duration: .5s;
        padding-top: 3px;
        height: 40px;
        left: 2em;
        top: 6.8em;
        z-index: 1;
    }

    .groceryCards__menuBlock-listFunction-item {
        border-bottom: unset;
        border-top: 2px solid rgb(229, 186, 130, 0.6);
    }

    .groceryCards__menuBlock-listFunctionActive {
        display: none;
    }

    .groceryCards__menuBlock-title {
        border-bottom: unset;
        cursor: pointer;
    }

}

@media (max-width: 425px) {
    .groceryCards__menuBlock {
        left: 0;
        right: 0;
        margin: auto;
    }

    .groceryCards__list-item {
        border-radius: unset;
        transition-duration: unset;
    }

    .groceryCards__list-item:hover {
        transform: unset;
        box-shadow: unset;
    }

    .groceryCards__list-item:last-child {
        border-bottom: unset;
        padding-bottom: 0;
    }
}

@media (min-width: 2050px) {
    .groceryCards__list {
        margin: 0 40px;
        max-width: 2300px;
    }
}

/* ----------======= footer =======---------- */

.footer {
    background-color: beige;
    border-top: 2px solid rgb(229, 186, 130, 0.6);
    height: 220px;
    margin-top: 2em;
}

.footer__logoProject-img {
    width: 200px;
    margin: 30px auto 0 auto;
}

.footer__text {
    font: 100 18px 'FuturaPT-Medium';
    background: linear-gradient(to right, rgb(0, 175, 0) 5%, rgb(0, 224, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 20px;
}

.footer__socaialNetworks {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin: 30px auto 0 auto;
}

.footer__socaialNetworks-logoLink-img {
    width: 20px;
    height: 20px;
    border-radius: 6px;
}

/* ----------======= THE END =======---------- */