* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button {
    border: unset;
    outline: unset;
    cursor: pointer;
    background: unset;
}

input {
    display: block;
    width: 250px;
    height: 40px;
    border: 2px solid rgb(229, 186, 130, 0.6);
    border-radius: 6px;
    padding-left: 20px;
    outline: unset;
    margin: 10px 0;
}

input::placeholder {
    font: 600 16px 'FuturaPT-Light';
}

/* ----------======= header =======---------- */

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    border-bottom: 2px solid rgb(229, 186, 130, 0.6);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    height: 110px;
    padding: 0 10px;
}

.header__logo {
    cursor: pointer;
}

.header__logoProject-img {
    width: 165px;
}

.header__list-item {
    text-align: center;
    margin: 15px 0;
}

.header__list-item a {
    font: 100 18px 'FuturaPT-Medium';
    background: linear-gradient(to right, rgb(0, 175, 0) 10%, rgb(0, 224, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__socialNetworks-logo-link-img {
    width: 20px;
    height: 20px;
    border-radius: 6px;
}

.header__hamburgerMenu-img {
    width: 40px;
    height: 40px;
}

.header__modalIconCart {
    display: none;
    position: fixed;
    background-color: #fff;
    border: 2px solid #000;
    width: 400px;
    height: 400px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 999;
}

.modalIconCartActive {
    display: block;
}

.header__closeButton,
.header__hamburgerMenuBlock-buttonClose {
    position: absolute;
    color: rgb(229, 186, 130);
    font-weight: 900;
    top: 10px;
    right: 10px;
}

.header__additionalFeaturesBlock,
.header__socialNetworks {
    display: flex;
    justify-content: space-between;
    width: 110px;
}

.header__hamburgerMenuBlock {
    display: none;
    position: fixed;
    background-color: beige;
    border: 4px double rgb(229, 186, 130, 0.6);
    width: 100%;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 998;
}

.burgerMenuActive {
    display: block;
}

.header__cart {
    position: relative;
}

.productsInCart {
    position: absolute;
    font: 100 16px 'FuturaPT-Heavy';
    background-color: #ffff;
    text-align: center;
    line-height: 14px;
    font-size: 10px;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    bottom: 0;
    right: -6px;
}

.header__innerBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    margin-top: 15px;
}

.header__additionalFeaturesBlock img,
.header>div:nth-child(n+4):not(.header__hamburgerMenuBlock) img {
    width: 40px;
    height: 40px;
}

/* ----------======= wrapper =======---------- */

.wrapper {
    display: none;
    height: 400px;
    position: relative;
    width: 100%;
}

.wrapperActive {
    display: none !important;
}

.slider {
    background-color: beige;
    height: inherit;
    overflow: hidden;
    position: relative;
    margin: 45px auto 0 auto;
    width: 80%;
    border: 2px solid rgb(229, 186, 130, 0.6);
    border-radius: 1em;
}

.wrapper>input {
    display: none;
}

.wrapper .controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 80px;
    left: 0;
    right: 0;
    bottom: -2em;
    margin: auto;
}

.wrapper label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    position: relative;
    width: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.wrapper label:after {
    border: 2px solid rgb(229, 186, 130, 0.6);
    /* color outside */
    content: " ";
    display: block;
    height: 12px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.wrapper label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    position: relative;
    width: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background ease-in-out .5s;
    -moz-transition: background ease-in-out .5s;
    -o-transition: background ease-in-out .5s;
    transition: background ease-in-out .5s;
}

.wrapper label:hover,
#slide1:checked~.controls label:nth-of-type(1),
#slide2:checked~.controls label:nth-of-type(2),
#slide3:checked~.controls label:nth-of-type(3) {
    background: rgba(236, 205, 163, 0.6);
    /* color inside */
}

.slides {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked~.slider>.slide1,
#slide2:checked~.slider>.slide2,
#slide3:checked~.slider>.slide3 {
    opacity: 1;
    z-index: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/* ----------======= groceryCards =======---------- */

.groceryCards__aboutPage {
    display: none;
    margin-top: 50px;
    text-align: center;
}

.groceryCards__aboutPageActive {
    display: block;
}

.groceryCards__aboutPage-logoFruit-img {
    width: 200px;
    margin: 0 auto;
}

.groceryCards__aboutPage-text {
    margin: 40px 30px;
}

.groceryCards__menuActive {
    display: none !important;
}

.groceryCards__menuBlock-title {
    font: 600 25px 'FuturaPTCond-Book';
    background: linear-gradient(to right, rgb(0, 175, 0) 10%, rgb(0, 224, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.groceryCards__menuBlock-listFilter-item {
    border-top: 2px solid rgb(229, 186, 130, 0.6);
    border-bottom: unset;
    padding: 10px 0 10px 10px;
    transition: .5s;
}

.groceryCards__menuBlock-listFilter-item-text {
    display: block;
    font: 100 16px 'FuturaPT-Medium';
    background: linear-gradient(to right, rgb(0, 175, 0) 20%, rgb(0, 224, 0));
    transition: .5s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    height: 100%;
}

.groceryCards__menuBlock {
    position: absolute;
    background-color: beige;
    transition: .3s;
    border-top-right-radius: unset;
    border-right: 2px solid rgb(229, 186, 130, 0.6);
    border-left: 2px solid rgb(229, 186, 130, 0.6);
    border-bottom: 2px solid rgb(229, 186, 130, 0.6);
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    width: 200px;
    height: 40px;
    left: 0;
    right: 0;
    top: 6.8em;
    margin: auto;
    z-index: 1;
}

.groceryCards__menuBlock-listFilter {
    display: none;
    transition: all 1s ease-in;
}

.groceryCards__menuBlock-listFilterActive {
    display: block;
}

.groceryCards__menuBlockActive {
    display: block;
}

.groceryCards__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 200px));
    grid-gap: 30px;
    justify-content: center;
    min-width: 320px;
    max-width: 1700px;
    margin: 60px auto 0 auto;
}

.groceryCards__listBerriesActive {
    display: block;
}

.header__groceryCards-list-berreisStock {
    text-align: center;
}

.groceryCards__list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffff;
    height: 285px;
    border-bottom: 2px solid #000;
    padding: 17px 0;
    border-radius: unset;
    transition-duration: unset;
}

.groceryCards__list-item:last-child {
    border-bottom: unset;
}

.groceryCards__list-item:hover {
    transform: unset;
    box-shadow: unset;
}

.groceryCards__list-item-title {
    font: 100 13px 'FuturaPT-Heavy';
    text-align: center;
}

.groceryCards__list-item-price {
    font: 600 13px 'FuturaPT-Light';
}

.groceryCards__list-item-priceThrough {
    text-decoration: line-through;
    margin-right: 10px;
}

.groceryCards__list-item-price-span {
    margin-right: 10px;
}

.groceryCards__list-item-button-img {
    width: 30px;
}

.groceryCards__list-item>div+div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__berreisStock-title,
.groceryCards__aboutPage-mainTitle {
    font: 600 35px 'FuturaPTCond-Book';
    text-transform: uppercase;
}

.header__berreisStock-imgSleepingMan {
    width: 250px;
    margin: 30px auto 0 auto;
}

.header__berreisStock-text,
.groceryCards__aboutPage-text-p {
    font: 100 23px 'FuturaPTCond-Book';
}

/* ----------======= footer =======---------- */

.footer {
    background-color: beige;
    border-top: 2px solid rgb(229, 186, 130, 0.6);
    height: 220px;
    margin-top: 2em;
}

.footer__logoProject-img {
    width: 200px;
    margin: 30px auto 0 auto;
}

.footer__text {
    font: 100 18px 'FuturaPT-Medium';
    background: linear-gradient(to right, rgb(0, 175, 0) 5%, rgb(0, 224, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 20px;
}

.footer__socaialNetworks {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin: 30px auto 0 auto;
}

.footer__socaialNetworks-logoLink-img {
    width: 20px;
    border-radius: 6px;
}

.changeHeight {
    height: 185px;
}


/* ----------======= cartModal =======---------- */

.modal {
    position: relative;
    background-color: beige;
    border: 2px solid rgb(229, 186, 130);
    border-radius: 1em;
    height: 300px;
    padding: 1em;
    margin: 0 1em;
    overflow-y: scroll;
}

.modal::-webkit-scrollbar {
    display: none;
}

.header__cartListItem-blockInfo {
    padding: 15px 0;
    border-top: 2px solid black;
}

.header__cartWindow-text {
    font: 100 16px 'FuturaPT-Medium';
    border-top: 2px solid #000;
    padding: 15px 0;
}

.header__cartListBlock {
    border-top: 2px solid black;
    padding-top: 15px;
}

.header__modalRegistration-title,
.header__cartWindow-title {
    font: 600 35px 'FuturaPTCond-Book';
    background: linear-gradient(to right, rgb(0, 175, 0) 10%, rgb(0, 224, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 10px;
}

.header__modalRegistrationButton,
.header__getOrderButton {
    display: block;
    font: 100 20px 'FuturaPT-Medium';
    color: rgb(229, 186, 130);
    background-color: rgba(236, 219, 197, 0.6);
    border: 2px solid rgb(229, 186, 130, 0.6);
    width: 150px;
    height: 45px;
    border-radius: 0.7em;
    text-align: center;
    margin: 15px auto 0 auto;
}

.header__cartListBlock span {
    display: block;
}

.header__cartListItem-blockInfo-price,
.header__cartWindow span {
    font: 100 16px 'FuturaPT-Medium';
}

/* ----------======= registModal =======---------- */



/* ----------======= @media =======---------- */

@media (min-width: 768px) {

    /*1*/
    .header {
        padding: 0 40px;
    }

    .header__logoProject-img {
        width: 235px;
    }

    .header__list {
        display: flex;
        justify-content: space-between;
        width: 380px;
    }

    .header__list-item {
        margin: 0;
    }
}

@media (min-width: 1100px) {

    /*2*/
    .header__list-item a:hover,
    .header__list-item a:focus {
        border-bottom: 2px solid;
        background: linear-gradient(to right, rgb(255, 94, 0) 40%, rgb(255, 209, 7));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-image-source: linear-gradient(to right, rgb(255, 94, 0) 40%, rgb(255, 209, 7));
        border-image-slice: 1;
        padding-bottom: 42px;
    }

    .header__socialNetworks,
    .header>div:not(.header__logo):not(.header__hamburgerMenuBlock) {
        display: flex;
        justify-content: space-between;
    }

    .header__socialNetworks,
    .header>div:not(.header__logo):not(.header__hamburgerMenuBlock) {
        width: 110px;
    }

    .header__list {
        width: 500px;
    }

    .header__hamburgerMenu-button {
        display: none;
    }

    .wrapper {
        display: block;
    }

    .slide1 {
        background: url("./components/header/assets/background/shutterstock_632353679-1024x650.jpg") center no-repeat;
        background-size: 110%;
    }

    .slide2 {
        background: url("./components/header/assets/background/frukty-na-zanzibare.jpg") center no-repeat;
        background-size: 110%;
    }

    .slide3 {
        background: url('./components/header/assets/background/34.jpg') center no-repeat;
        background-size: 110%;
    }
}

@media (min-width: 1950px) {

    /*3*/
    .header {
        height: 130px;
    }

    .header__logoProject-img {
        width: 240px;
    }

    .header__list {
        width: 710px;
    }

    .header__socialNetworks,
    .header>div:not(.header__logo):not(.header__hamburgerMenuBlock) {
        width: 160px;
    }

    .header__list-item a {
        font-size: 25px;
    }

    .header__list-item a:hover,
    .header__list-item a:focus {
        padding-bottom: 48px;
    }

    .header__socialNetworks-logo-link-img {
        width: 25px;
    }

    .header__additionalFeaturesBlock img,
    .header>div:nth-child(n+4) img {
        width: 50px;
    }
}

@media (min-width: 679px) {

    /*4*/
    .groceryCards__list-item {
        transition: .5s;
        border-radius: 10px;
    }

    .groceryCards__list-item:hover {
        transform: scale(1.05);
        -webkit-box-shadow: 1px 1px 35px -22px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 35px -22px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 35px -22px rgba(0, 0, 0, 0.75);
    }

    .groceryCards__menuBlock {
        left: 2em;
        right: unset;
        cursor: pointer;
    }
}

@media (min-width: 430px) {

    /*5*/
    .groceryCards__list-item {
        border-bottom: unset;
    }

    .header__hamburgerMenuBlock {
        border-bottom: 2px solid rgb(229, 186, 130, 0.6);
        border-left: 2px solid rgb(229, 186, 130, 0.6);
        border-bottom-left-radius: 1em;
        border-right: unset;
        border-top: unset;
        width: 250px;
        height: 400px;
    }
}

@media (min-width: 1400px) {

    /*6*/
    .header {
        position: unset;
    }

    .groceryCards>div:not(.groceryCards__aboutPage):not(.wrapper) {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
    }

    .groceryCards__menuBlock-listFilter-item {
        cursor: pointer;
    }

    .groceryCards__menuBlock-listFilter-item:hover {
        background-color: rgb(228, 228, 205);
    }

    .groceryCards__menuBlock-title {
        cursor: unset;
    }
}

@media (min-width: 2050px) {

    /*7*/
    .groceryCards__list {
        max-width: 2300px;
    }
}

/* ----------======= THE END =======---------- */